label#l{
	font-size:20px;
	text-align: left;
	width:70px;
	display: inline-block;
}
.input-icons i { 
			position: absolute; 
		} 
		
		.input-icons { 
			width: 100%; 
			margin-bottom: 10px; 
		} 
		
		.icon { 
			padding-left: 40px;
			padding-top: 40px; 
			color: black; 
			text-align: center; 
		} 
form{
	text-align: center;
	padding: 16px;
	margin: 100px 50px;
	border-radius: 50px 50px;
	background-color:#88b04b;
}
a{
	padding-left: 20px;
}

input{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left:20px;
	background: MediumSeaGreens;	
	padding: 16px;
	display: inline-block;
	color: black;
	width: 30%;
	border-radius: 15px;

}
input[type=button]{
	opacity: 0.9;
	border-radius: 20px;
	width: 15%;
	border:none;
	background-color: #ff5050;
	margin-left: 20px;
	cursor: pointer;
}
input[type=button]:hover{
	background-color:darkgreen;
}

input[type=email]:focus{
	width: 50%;
	transition: width 1s ease-in-out;
}
input[type=checkbox]{
	padding-top: 10px;
	width:2%;
}

input[type=password]:focus{
	width: 50%;
	transition: width 1s ease-in-out;
}